@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
  }
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1f3757;
}

header {
    background: white;
    padding: 20px;
}
  
header > h1 {
    color: #1f3757;
    text-align: center;
    font-size: 50px;
}
  
.scoreboard {
    width: 600px;
    margin: 60px  auto;
    border: 10px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}


span {
    padding: 15px;
}
.result {
    font-size: 25px;
    margin: 60px;
    color: white;
    font-weight: bold;
    text-align: left;
}
  
.result > p {
    text-align: center;
}
  
img {
    width:130px;
    height: 130px;
    border: 4px solid white;
    border-radius: 50%; 
    padding: 10px;
    margin: 20px;
}

.options {
    text-align: center;
    margin-top: 60px;
    
}
   
.options img {
     cursor: pointer;
}
   
#Rock:hover {
     transform: translate3d(0px, -8px, 0px);
     transition: all 0.25s;
     background-color: #182C45;
}
#Paper:hover {
     transform: translate3d(0px, -8px, 0px);
     transition: 0.4s;
     background-color: #182C45;
}
#Scissors:hover {
     transform: translate3d(0px, -8px, 0px);
     transition: all 0.25s;
     background-color: #182C45;
}
   
h3 {
  font-size: 32px;
  text-align: center;
  color: white;
  margin-top: 40px;
}


footer {
     position: absolute;
     background: white;
     color: #1f3757;
     width: 100%;
     bottom: 0;
     text-align: center;
     padding: 10px;
     font-size: 25px;
}

@media screen and (max-width: 1280px) {
  footer {
    font-size: 22px;
  }
  header > h1 {
    font-size: 45px;
  }

}
   
@media screen and (max-width: 1024px) {
    footer {
      font-size: 18px;
    }
    header > h1 {
      font-size: 40px;
    }

    img {
      width:110px;
      height: 110px;
  }

}
  
  
@media screen and (max-width: 768px) {
    footer {
      font-size: 14px;
    }
    
    header > h1 {
      font-size: 35px;
    }

    img {
      width:90px;
      height: 90px;
  }
    .scoreboard {
      width: 350px;
      font-size: 16px;
    }
}
  
  
@media screen and (max-width: 480px) {
    footer {
      font-size: 12px;
    }
    img {
      width: 80px;
      height: 80px;
      padding: 5px;
    }
    header > h1 {
      font-size: 30px;
    }
    .scoreboard {
      width: 300px;
      font-size: 12px;
    }
}
  
@media screen and (max-width: 320px) {
    footer {
      font-size: 10px;
    }

    img {
      width: 70px;
      height: 70px;
      padding: 5px;
    }
  
    header > h1 {
      font-size: 25px;
    }
    .scoreboard {
      width: 250px;
    }
    h3 {
      font-size: 20px;
    }
}
   